@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");

:root {
  --primary: #584744;
  --second: #ebebec;
  --text: #a09a9c;
  --effect: #fd5536;
  --shadow: #cbada6;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  /* para cada 1 rem == 10px */
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  background: var(--primary);
  color: var(--text);
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 2rem;
}

header {
  background: var(--second);
  color: var(--primary);

  width: 100%;
  padding: 3.2rem;
  text-align: center;
}

.links {
  font-size: 2.2rem;
}

.links a {
  position: relative;
  color: var(--text);
}

.links a + a {
  margin-left: 3.2rem;
}

.links a.active {
  font-weight: bold;
  color: var(--primary);
}

.links a::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: var(--primary);
  position: absolute;
  left: 0;
  bottom: -0.4rem;
}

.links a:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out;
}

/* === CARD === */

.card {
  background: var(--second);
  width: 80rem;
  min-height: 40rem;
  margin: 4.5rem auto;

  display: grid;
  grid-template-columns: 1fr 1fr;

  box-shadow: 0px 5px 5px -2px var(--shadow);

  /* animation */
  /* nome da animação velocidade tipo da animação */
  animation: up 500ms ease-in-out;
}

@keyframes up {
  from {
    opacity: 0;
    /*  */
    transform: translateY(30px);
  }

  to {
    opacity: 1;
  }
}

/* === CARD DETAILS === */
.details {
  padding: 3.2rem;
}

.details .item {
  border-bottom: 1px solid var(--shadow);
  padding: 1.6rem 0;
}

.details .item:last-child {
  border: none;
  padding-bottom: 0;
}

.details .item div:nth-child(1) {
  font-size: 1.8rem;
  line-height: 2rem;
  letter-spacing: 0.07rem;
  font-weight: normal;
  color: var(--effect);
}

.details .item div:nth-child(2) {
  font-weight: bold;
  font-size: 2.2rem;
}

.details h3 {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: var(--effect);
  font-weight: bold;
}

.details .item span {
  padding: 8px 16px;
  border-radius: 16px;
  margin-right: 4px;
  margin-top: 8px;
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--second);
  background-color: var(--shadow);
}

/* === FORM ===  */
input,
select {
  width: 100%;
  background: none;
  outline: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text);
}

input[type="radio"] {
  width: initial;
  margin-right: 6px;
}

input::placeholder {
  font-size: 1.6rem;
  font-weight: normal;
}

button[type="submit"],
a.button {
  border-radius: 1.6rem;
  background: var(--effect);
  padding: 0.8rem 3.2rem;
  margin-top: 3.2rem;
  width: 100%;
  font-size: 2.4rem;
  color: var(--second);
}

a.button {
  display: block;
  text-align: center;
  box-sizing: border-box;
}

#form-delete button {
  background: var(--primary);
  margin-top: 0.8rem;
}

/* === INDEX INSTRUCTORS === */
.table__container {
  display: block;
  padding: 4rem;
  box-sizing: border-box;
}

.table__container table {
  width: 100%;
  border-spacing: 0;
  text-align: left;
}

.table__container thead th {
  color: var(--effect);
  border-bottom: 1px solid var(--effect);
  padding-bottom: 0.8rem;
  font-size: 1.2rem;
}

.table__container tbody tr td {
  font-size: 1.8rem;
  line-height: 2rem;
  padding: 0.8rem 1.6rem;
  border-bottom: 1px solid var(--shadow);
}

tbody tr:last-child td {
  border: none;
}

tbody tr td:first-child {
  display: grid;
  grid-template-columns: 6.4rem 1fr;
  align-items: center;
  font-weight: bold;
}

tbody tr td:first-child span {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  box-shadow: 3px 1px 4px -2px black;
  background-position: center;
  background-size: cover;
}

tbody tr td:last-child a,
.table__container > a {
  color: white;
  background: var(--shadow);
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 1.2rem;
}

.table__container > a {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 20px;
  display: inline-block;
}

th:last-child,
td:last-child {
  text-align: center;
}

tbody tr td:nth-child(2) {
  text-transform: lowercase;
}

tbody tr td:nth-child(2) span:not(:last-child)::after {
  content: " | ";
}
